* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #ca1b1b, #c9cc20, #ac0fa1);
}
#container {
    position: relative;
    background-image: linear-gradient(to right, #ca1b1b, #c9cc20, #ac0fa1);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.imagem_div img{
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 30px;
    top: 25px;
}
.imagem_div h4{
    display: flex;
    position: absolute;
    left: 150px;
    top: 50px;
    color: #ffffff;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.textoCla::selection {
    color: #ff0000;
    background: #ffffff;
}

.textoCla {
    position: relative;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-shadow: 0 0 0.2em rgb(153, 150, 153), 0 0 0.2em rgb(255, 255, 255),
        0 0 0.2em rgb(72, 55, 55);
}

h2::selection {
    color: #000000;
    background-color: #8e05c051;
}

#container h2 {
    display: flex;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    margin-top: 18%;
    text-transform: uppercase;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 2%;
    word-spacing: 10px;
}


.meuButton {
    background: #ff0000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    padding: 4px 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: -2px 4px 5px 0px rgb(0, 0, 0);
    -moz-box-shadow: -2px 4px 5px 0px rgb(0, 0, 0);
    box-shadow: -2px 4px 5px 0px rgb(0, 0, 0);
}

.escondido {
    display: none;
}

#mensagem.visivel::selection {
    color: #00ff11;
    background: #000000;
}

#mensagem.visivel {
    display: block;
    background: #00000060;
    color: #ffffff;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 10px;
    width: 400px;
    height: auto;
    text-shadow: 1px 1px #353535, -1px -1px #1c1b1b;
    border: 2px solid #cf0202;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3%;
    -webkit-box-shadow: -2px 4px 5px 0px rgb(13, 64, 217);
    -moz-box-shadow: -2px 4px 5px 0px rgb(13, 64, 217, 1);
    box-shadow: -2px 4px 5px 0px rgba(13, 64, 217, 1);
}

@media (max-width: 767px) {
    body {
        background: #161616;
    }

    #container {
        display: block;
        background: #161616;
        width: 100%;
        height: 100vh;
        position: relative;
        padding: 10px;
        text-align: center;
        margin-top: 20%;
    }
    .imagem_div img{
        display: flex;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 30px;
        top: -80px;
       
    }
    .imagem_div h4{
        display: flex;
        position: absolute;
        left: 140px;
        top: -60px;
        color: #ffffff;
        font-size: 1em;
        letter-spacing: 1px;
        text-shadow: 0 0 0.2em rgb(153, 150, 153), 0 0 0.2em rgb(255, 255, 255),
            0 0 0.2em rgb(72, 55, 55);
    }
    .imagem_div h4::selection{
        color: #1aff00;
        background: #fff;
    }
    .textoCla {
        color: #fff;
        text-align: center;
        justify-content: center;
        font-size: 1.8em;
        letter-spacing: 2px;
        word-spacing: 10px;
        text-shadow: 0 0 0.2em rgb(153, 150, 153), 0 0 0.2em rgb(255, 255, 255),
            0 0 0.2em rgb(72, 55, 55);
    }

    #container h2 {
        color: #ffffff;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
            0 0 0.2em #87F;
        font-size: 2em;
        font-weight: 900;
        letter-spacing: 2px;
        word-spacing: 10px;
    }
    #mensagem.visivel {
        display: block;
        background: #ffffffca;
        color: #242323;
        text-align: justify;
        text-transform: uppercase;
        word-spacing: 5px;
        font-size: 1.8em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        padding: 10px;
        width: 350px;
        margin-bottom: 20%;
        text-shadow: 1px 1px #d60909, -1px -1px #c30bbd;
        border: 2px solid #cf0202;
        border-radius: 10px;
        box-shadow: -2px 4px 5px 0px rgba(13, 64, 217, 1);
    }

    .meuButton {
        background: #ff0000;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        width: 150px;
        padding: 4px 10px;
        margin-top: 10%;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        box-shadow: -2px 4px 5px 0px rgb(0, 0, 0);
    }
}

